.card-wrapper{
    display: flex;
    justify-content: center;
    justify-items: center;
min-width: 400px;
    margin-top: 2rem;
    margin-bottom:2rem;

}
.custom-button{
    margin:1rem;   
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.img-content{
    width:150px;
    height:150px;
}